@import 'bulma';

// all pages

body {
  background-color: #0D394C;
}

.container {
  overflow: auto;

}

.navigation {
  background-color: #0D394C;
  font-size: 25px;
  position: fixed;
  z-index: 5;
  width: 94%;
  // border-radius: 5px;
  // border-style: double;
  // background-color: lightgrey;
}

.main {
  overflow: auto;
  // margin-bottom: 5%;
}

.box {
  background-color: lightgrey;
  border-style: double;
}

.section {
  background-color: lightgrey;
}

.all-content {
  padding-top: 7%;
}

// home section

.home-section {
  min-height: 100vh;
  // background-color: pink;
}

.greeting {
  font-size: 100px;
  text-align: center;
  color: lightgrey;
}

// about section

.about-section {
  min-height: 100vh;
  // background-color: green;
}

.face {
  width: 48%;
  margin: auto;
  margin: 1%;
  padding: 2%;
  font-size: 20px;
  float: left;
}

.title {
  font-family: 'Homemade Apple', cursive;
}

.allFont {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.contact-icons {
  margin-top: 7%;
}

// projects section

.project-section {
  min-height: 100vh;
  // background-color: yellow;
}

.projectGrid {
  margin: 1%;
  background-color: lightgrey;
  opacity: .9;
  width: 23%;
  height: 330px;
  float: left;
  padding: 1%;
  border-style: double;
  border-radius: 5px;
}

.mouseOver {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  background-color: #0D394C;
  opacity: .95;
  color: white;
  padding: 2%;
  font-size: 22px;
  width: 246px;
  height: 250px;
  overflow: auto;
}

.projectGrid:hover .mouseOver {
  visibility: visible;
}


// resume section

.resumeSection {
  margin-top: 100%;
}

.resume {
  width: 75%;
  margin: auto;
}

.resume-section {
  color: #0D394C;
  border-top: 1px solid lightgrey;
}

.resume-info {
  margin-left: 1%;
}

.more-info {
  margin-left: 1.5%;
}

.level-right {
  margin-right: 1.5%;
}

.even-more-info {
  margin-left: 2%;
  list-style: circle;
}

.job-title {
  margin-top: none;
  margin-bottom: 1%;
  font-style: italic;
}

ul {
  list-style: disc;
}

.bold {
  font-weight: bold;
}

.nav-center {
  margin-top: 2%;
}

// skills section

.skills-section {
  min-height: 100vh;
  background-color: orange;

}

.contact-section {
  min-height: 100vh;
  background-color: black;
}
