<div class="nav-right">
  <a href="https://github.com/llantukh" class="nav-item is-tab">
    <span class="icon">
      <i class="fa fa-github"></i>
    </span>
    <span class="subtitle hide is-hidden-touch">
      https://github.com/llantukh
    </span>
  </a>
  <a href="mailto:liliya.lantukh@gmail.com" class="nav-item is-tab">
    <span class="icon">
      <i class="fa fa-envelope-o"></i>
    </span>
    <span class="subtitle hide is-hidden-touch">
      liliya.lantukh@gmail.com
    </span>
  </a>
  <a href="#" class="nav-item is-tab">
    <span class="icon">
      <i class="fa fa-mobile"></i>
    </span>
    <span class="subtitle hide is-hidden-touch">
      (404) 358-8062
    </span>
  </a>
