<div class="main">


  <!-- about -->
  <div class="about-section main" id="about">

    <div class="all-content">
      <div class="greeting">
          hello.привет(pree-vet);
      </div>
      <div class="box face">
        <img src="./images/face2.jpg" alt="">
      </div>
      <div class="box face">
        <div class="title is-1 has-text-centered">
          about me
        </div>
        <div class="allFont">
          Hey y'all I'm Liliya ( I go by Lela ) and I love creating things. I am a front end developer and recent grad of The Iron Yard. Prior to coding I was an accountant at a nonprofit. In my spare time I like to paint and draw, and I have discovered that coding gives me the same level of satisfaction that creating art does.
          <br><br>
          When I'm not busy creating, I love spending time with my enormous family (I'm one of 7 kids). I also enjoy scuba diving, kayaking, and really anything on the water.
        </div>
        <div class="contact-icons has-text-centered">
          <a href="https://github.com/llantukh">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
          </a>
          <a href="mailto:liliya.lantukh@gmail.com">
            <span class="icon">
              <i class="fa fa-envelope-o"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

  </div>

  <!-- projects -->
  <div class="project-section" id="projects">

    <div class="all-content">
      <div class="greeting">
        some of my work
      </div>
      <div class="project-list">
        <div class="projectGrid" ng-repeat="all in home.all">
          <div class="card">
              <header class="card-header">
                <div class="mouseOver">
                  <p>{{all.description}}</p>
                  <br>
                  <p>{{all.tech}}</p>
                </div>

                <p class="card-header-title">
                  <img class= "media-object" src="{{all.image}}">
                </p>
              </header>
            <div class="card-content has-text-centered">
              <h1 class="title">{{all.name}}</h1>
              <div class="content">
                {{all.summary}}
              </div>
            </div>
            <footer class="card-footer">
              <a href="{{all.liveLink}}" class="card-footer-item">Demo</a>
              <a href="{{all.ghLink}}" class="card-footer-item">Code</a>
            </footer>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- resume -->
  <!-- <div class="resumeSection" id="resume">

    <div class="box" >

        <p class="subtitle is-3 nav-center">Liliya Lantukh</p>
        <nav class="nav has-shadow">
          <div class="nav-center">
            <div class="nav-center">
              <p class="nav-item subtitle">Atlanta, GA</p>
              <p class="nav-item subtitle">(404) 358-8062</p>
              <a href="mailto:liliya.lantukh@gmail.com" class="nav-item subtitle">liliya.lantukh@gmail.com</a>
              <a href="https://github.com/llantukh" class="nav-item subtitle">github.com/llantukh</a>
              <a  class="nav-item subtitle"></a>
            </div>
          </div>
        </nav>

        <p class="subtitle nav-center"> Native English/Russian speaker and former accountant with a passion for problem-solving that is quickly being honed into a passion for front-end development</p>

        <div class="subtitle is-4 resume-section">
            <p>SKILLS</p>
        </div>
        <div class="subtitle resume-info">
          <p> HTML/CSS, JavaScript, AngularJs, jQuery, Git </p>
        </div>

        <div class="subtitle is-4 resume-section">
            <p>RELEVANT EXPERIENCE</p>
        </div>
        <div class="subtitle resume-info">
          <div class="level">
            <div class="level-left">
              <p class="bold">The Iron Yard</p><p> | Atlanta, GA</p>
            </div>
            <div class="level-right">
              <p>Sept 2016 - Dec 2016</p>
            </div>
          </div>
          <div class="job-title">
            <p>Front-End Engineering Student</p>
          </div>
          <div class="more-info">
            <ul>
              <li>The Iron Yard is a 12-week coding bootcamp specializing in highly focused, immersive training centered on language fluency, object-oriented programming, and project-based learning.
              </li>
              <li class="even-more-info">
                Project samples can be found under the projects tab above.
              </li>
            </ul>
            <br>
          </div>

        </div>

        <div class="subtitle is-4 resume-section">
            <p>PREVIOUS WORK EXPERIENCE</p>
        </div>
        <div class="subtitle resume-info">
          <div class="level">
            <div class="level-left">
              <p class="bold">Friendship Christian School</p><p> | Suwanee, GA</p>
            </div>
            <div class="level-right">
              <p>Sept 2012 - Dec 2015</p>
            </div>
          </div>
          <div class="job-title">
            <p>Accountant</p>
          </div>
          <ul class="more-info">
            <li>
              Managed all student related finances, including tuition and scholarships; set up all accounts in QuickBooks
            </li>
            <li>
              Implemented new tuition collection process that is still used today
            </li>
              <ul class="even-more-info">
                <li>
                  The process included an automated tuition collection application that used online banking to collect monthly tuition and deposit directly into the school's account.
                </li>
              </ul>
          </ul>

        </div>

        <div class="subtitle resume-info">
          <div class="level">
            <div class="level-left">
              <p class="bold">CICM, SSO</p><p> | Suwanee, GA</p>
            </div>
            <div class="level-right">
              <p>Sept 2012 - Dec 2015</p>
            </div>
          </div>
          <div class="job-title">
            <p>Accountant</p>
          </div>
          <ul class="more-info">
            <li>
              Worked with the Georgia Department of Revenue to take advantage of the Student Scholarship Organization tax credit
            </li>
            <li>
              Raised funds to provide scholarships for children to attend private schools
            </li>
          </ul>
        </div>

        <div class="subtitle is-4 resume-section">
            <p>EDUCATION</p>
        </div>
        <div class="subtitle resume-info">
          <div class="level">
            <div class="level-left">
              <p class="bold">Georgia Perimeter College</p><p> | Alpharetta, GA</p>
            </div>
            <div class="level-right">
              <p>Aug 2010 - Dec 2012</p>
            </div>
          </div>
        </div>
        <div class="subtitle resume-info">
          <div class="level">
            <div class="level-left">
              <p class="bold">University of North Georgia</p><p> | Dahlonega, GA</p>
            </div>
            <div class="level-right">
              <p>Jan 2013 - Dec 2013</p>
            </div>
          </div>
        </div>

        <div class="subtitle is-4 resume-section">
            <p>VOLUNTEER WORK</p>
        </div>
        <div class="subtitle resume-info">
          <div class="level">
            <div class="level-left">
              <p class="bold">New Life Church</p><p> | Suwanee, GA</p>
            </div>
            <div class="level-right">
              <p>Aug 2008 - Present</p>
            </div>
          </div>
          <ul class="more-info">
            <li>
              Organized wait staff for Harvest Festival (lunch for about one thousand people)
            </li>
            <li>
              Planned and organized summer camps for all age groups
            </li>
          </ul>
        </div>

    </div>

  </div> -->

  <!-- skills section -->

  <div class="skills-section" id="skills">

    <div class="all-content">

    </div>

  </div>

<!-- contact me -->

  <div class="contact-section">

    <div class="all-content">
      <div class="box main" id="contact">
        <div class="section">
          <p class="title is-1 has-text-centered">let's chat</p>
          <a href="https://github.com/llantukh" class="nav-center">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
            <span class="subtitle">
              github.com/llantukh
            </span>
          </a>
          <a href="mailto:liliya.lantukh@gmail.com" class="nav-center">
            <span class="icon">
              <i class="fa fa-envelope-o"></i>
            </span>
            <span class="subtitle">
              liliya.lantukh@gmail.com
            </span>
          </a>
          <a class="nav-center">
            <span class="icon">
              <i class="fa fa-mobile"></i>
            </span>
            <span class="subtitle">
              (404) 358-8062
            </span>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
