<div class="main">
  <div class="box face">
    <img src="./images/face2.jpg" alt="">
  </div>
  <div class="box face">
    <div class="title is-1 has-text-centered">
      about me
    </div>
    <div class="allFont">
      Hey y'all I'm Liliya ( I go by Lela ) and I love creating things. I am a front end developer and recent grad of The Iron Yard. Prior to coding I was an accountant at a nonprofit and I was bored out of my mind. In my spare time I like to paint and draw, and I have discovered that coding gives me the same level of satisfaction that creating art does.
      <br><br>
      When I'm not busy creating, I love spending time with my enormous family. I also enjoy scuba diving, kayaking, and really anything on the water.
    </div>
    <div class="contact-icons nav-center">
      <a href="https://github.com/llantukh">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a href="mailto:liliya.lantukh@gmail.com">
        <span class="icon">
          <i class="fa fa-envelope-o"></i>
        </span>
      </a>
    </div>
  </div>
</div>
