<div class="card">
  <div class="card-image">
    <figure class="image">
      <img src="./images/profile.jpg" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="./images/jslogo.jpg" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-5">Liliya Lantukh</p>
        <p class="subtitle is-6">liliya.lantukh@gmail.com</p>
      </div>
    </div>

    <div class="content">
      Hey yall I'm Lela and I love creating things. I am a front end developer and recent grad of The Iron Yard. Prior to coding I was an accountant at a nonprofit and I was bored out of my mind. Coding gives me the ability and freedom to let my freak flag fly.
    </div>
  </div>
</div>
