hi from layout

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab is-active">Home</a>
      <a class="nav-item is-tab">About Me</a>
      <a class="nav-item is-tab">My Work</a>
      <a class="nav-item is-tab">Contact Me</a>
    </div>
    <div class="nav-right">
      <a class="nav-item is-tab">GitHub</a>
      <a class="nav-item is-tab">Email</a>
      <a class="nav-item is-tab">Phone</a>
    </div>
  </div>
</nav>

<div ui-view>

</div>
