<div class="allFont">

  <nav class="nav navigation">
    <div class="nav-left">
      <a ng-click="home.scrollTo('about')" class="nav-item">About</a>
      <a ng-click="home.scrollTo('projects')" class="nav-item">Portfolio</a>
      <a ng-click="home.scrollTo('skills')" class="nav-item">Skills</a>
      <a ng-click="home.scrollTo('contact')" class="nav-item">Contact Me</a>
    </div>
    <div class="nav-right">
      <a ng-click="home.scrollTo('resume')" class="nav-item">Resume</a>
    </div>
  </nav>

  <div ui-view>
  </div>

</div>
